wxpython        # GUI
requests        # Used to add cert to AF
python-dotenv   # Loading app secrets
cryptography    # Storing user creds
dohq-artifactory# 
azure-cosmos    # Logggin
pyahocorasick   # Text search